@import './../../../global.scss';

.label-input-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.label-input-overlay {
  height: 15px;
}

.label-input {
  height: calc(100% - 25px);
  width: 100%;
  border: none;
  border-bottom: 3px solid lightgray;
  box-sizing: border-box;
  padding: 0px 10px;
  background-color: rgba($color: #f5f6f7, $alpha: 0.0);
  color: black;
  font-size: 18px;
  outline: none;
  transition: all 0.5s ease;

  &:focus {
    border-bottom: 3px solid rgba(255,145,75);
  }

  &.center {
    padding: 0px;
    text-align: center;
  }
}

.label {
  width: 100%;
  margin-top: 3px;
  font-size: 17px;
  box-sizing: border-box;
  padding-left: 10px;

  &.center {
    padding-left: 0px;
    text-align: center;
  }
}

.label-input:focus ~ .label, 
.label-input:not(:placeholder-shown) ~ .label {
  font-weight: bolder;
}