@import './../../../../global.scss';

.exercise-wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  transition: all 0.3s ease;

  &:hover {
    padding: 2px;
    cursor: pointer;
  }
}

.exercise-container {
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.exercise-img-container {
  height: 90px;
  width: 90px;
  border: 2px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;

  img {
    min-width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 400px) {
    height: 65px;
    width: 65px;
  }
}

.exercise-info-container {
  height: 100%;
  width: calc(100% - 100px);

  @media screen and (max-width: 400px) {
    width: calc(100% - 70px);
  }
}

.exercise-name {
  height: 18px;
  width: calc(100% - 10px);
  margin-left: 10px;
  font-size: 17px;
  text-align: center;
  font-weight: 800;

  @media screen and (max-width: 400px) {
    height: 15px;
    font-size: 14px;
    font-weight: 700;
  }
}

.exercise-text {
  height: 13px;
  width: calc(100% - 10px);
  font-size: 13px;
  font-weight: 650;
  margin: 0px 0px 5px 10px;

  @media screen and (max-width: 400px) {
    height: 10px;
    font-size: 10px;
    font-weight: 600;
  }
}

.exercise-history-container {
  height: calc(100% - 38px);
  width: calc(100% - 10px);
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-top: 3px;

  @media screen and (max-width: 400px) {
    height: calc(100% - 30px)
  }
}

.exercise-history {
  width: 32%;
  text-align: center;

  @media screen and (max-width: 400px) {
    font-size: 13px;
  }
}

.exercise-history-label {
  margin-top: 5px;
  font-weight: 800;

  @media screen and (max-width: 400px) {
    font-weight: 700;
    margin-top: 2px;
  }
}