@import './../../global.scss';

.profile-wrapper {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  min-width: 340px;
  background-color: $lightBackgroundColor;
  background-image: $lightBackgroundImage;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

  @media screen and (max-width: 685px) {
    padding: 0px 10px 40px 10px;
  }
}

.profile-container {
  height: 100%;
  min-height: max-content;
  width: 100%;
  max-width: $largestDevices;
  box-sizing: border-box;
  padding: 0px 20px;
  display: flex;

  @media screen and (max-width: 870px) {
    flex-direction: column;
    align-items: center;

    .vertical-line-two {
      display: none;
    }

    .horizontal-line {
      display: inline;
    }
  }

  @media screen and (max-width: 685px) {
    padding: 0px;
  }
}

.profile-info-wrapper {
  height: 100%;
  width: 400px;
  box-sizing: border-box;
  padding: 40px 10px 0px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;

  @media screen and (max-width: 870px) {
    width: 100%;
    padding: 0px 10px 10px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  @media screen and (max-width: 685px) {
    width: 100%;
    display: block;
  }

  @media screen and (max-width: 400px) {
    padding: 40px 0px 10px 0px;
  }
}

.profile-info-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 870px) {
    width: 350px;
  }

  @media screen and (max-width: 685px) {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
  }
}

.profile-picture-wrapper {
  height: 125px;
  width: 125px;
  border: 5px solid lightgray;
  border-radius: 70px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.profile-picture {
  min-width: 100%;
  object-fit: cover;
}

.profile-info-container {
  height: 80px;
  width: 90%;
  min-width: 330px;
  margin: 20px 0px;
}

.profile-info-right {
  height: 100%;
  width: 100%;
  position: relative;

  @media screen and (max-width: 870px) {
    width: calc(100% - 350px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 685px) {
    height: fit-content;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
}

.profile-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 870px) {
    width: 100%;
  }
}

.profile-button-container {
  height: 50px;
  width: 100%;
  margin: 5px 0px;

  &.workout {
    max-width: 250px;
  }
}

.signout-button-container {
  height: 45px;
  width: 200px;
  position: absolute;
  bottom: 25px;
  right: 100px;

  @media screen and (max-width: 870px) {
    position: static;
    margin-top: 30px;
  }

  @media screen and (max-width: 685px) {
    margin: 20px 0px 10px 0px;
  }
}

.profile-display-wrapper {
  height: 100%;
  min-height: fit-content;
  width: calc(100% - 400px);
  box-sizing: border-box;
  padding-left: 10px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 870px) {
    width: 100%;
    padding: 10px 0px 0px 0px;
  }
}