@import './../../../global.scss';

.add-edit-exercise-wrapper {
  box-sizing: border-box;
  padding: 15px;
  position: relative;
}

.add-edit-exercise-delete {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: red;
  box-sizing: border-box;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.4s all;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 89, 89, 0.3);
  }
}

.add-edit-exercise-top-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;;
}

.add-edit-exercise-img-container {
  height: 100px;
  width: 100px;
  border: 2px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.add-edit-exercise-img-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba($color: rgb(142, 141, 141), $alpha: 0.7);
}

.add-edit-exercise-img {
  min-width: 100%;
  object-fit: cover;
}

.add-edit-exercise-img-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;

  input[type='file'] {
    display: none;
  }

  i {
    transition: ease 0.2s all;
    
    &:hover {
      cursor: pointer;
      font-size: 27px;
    }
  }
}

.add-edit-inputs-container {
  height: 100px;
  width: calc(100% - 110px);
  margin-left: 10px;
}

.add-edit-exercise-name-input {
  height: 60px;
  width: 100%;

  &.edit {
    width: calc(100% - 40px);
  }
}

.add-edit-exercise-category-container {
  height: 33px;
  width: 100%;
  margin-top: -5px;
}

.add-edit-exercise-btns-container {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.add-edit-exercise-btn {
  height: 100%;
  width: 40%;
}

.add-edit-exercise-message {
  width: 100%;
  text-align: center;
  font-weight: 500;
  display: none;

  &.error {
    display: block;
    margin-top: 15px;
    color: red;
  }

  &.saving {
    display: block;
    margin-top: 15px;
    color: green;
  }
}