.add-category {
  height: 40px;
  width: 100%;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 15px;

  input {
    height: 30px;
    width: calc(100% - 35px);
    border: none;
    border-bottom: 3px solid lightgray;
    box-sizing: border-box;
    padding: 0px 10px;
    background-color: rgba($color: #f5f6f7, $alpha: 0.0);
    color: black;
    font-size: 14px;
    outline: none;
    transition: all 0.5s ease;
  
    &:focus {
      border-bottom: 3px solid rgba(255,145,75);
    }
  }

  i {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.4s all;
    border-radius: 7px;

    &:hover {
      font-weight: 700;
      cursor: pointer;
      color: green;
      background-color: rgba(134, 255, 134, 0.568);
    }
  }
}