@import './../../../global.scss';

.default-input-container {
  height: 100%;
  width: 100%;
  
  input {
    height: 100%;
    width: calc(100% - 17px); // Minus the padding and L&R border
    background-color: #f5f6f7;
    border-radius: 9px;
    border: 1px solid #e7ecf0;
    padding-left: 15px;
    font-size: 15px;
    color: rgb(51, 51, 51);
  }
  
}